.body-container {
  align-items: center;
  justify-content: space-evenly;
  padding: 3em 2em;
  background-color: var(--color-light);
  gap: 1.4em;
  max-width: 576px;
}

/* -------------------------------------------------------------------------- */

.page-info {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.page-info__logo {
  display: flex;
}

.page-info__title {
  font-size: 1.6em;
  /* 11 caracteres máximo por línea ("colección de"). */
  max-width: 11ch;
  text-align: left;
  margin: 0;
  padding: 0;
  /* flex: 2; */
}





#register-form-button {
  background-color: var(--color-crimson);
}
#login-form-button {
  background-color: var(--color-pansy-purple);
}

/* -------------------------------------------------------------------------- */

.login-register__link {
  /* text-decoration: none; */
  color: var(--color-pansy-purple);
  font-size: .9em;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 576px) {
  .page-info__title {
    font-size: 2em;
    max-width: 6em;
  }
}

@media (max-width: 360px) {
  .page-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
  }
  .page-info__title {
    text-align: center;
  }
}
