*, *::before, *::after {
  font-family: 'Quicksand', sans-serif;
  /* Para fuente en móvil. */
  /* font-size: 14px; */
  line-height: 1.5;
  /* Transición para las fuentes cuando cambian de tamaño. */
  transition: font-size 0.2s ease-out;
}

:root {
  --color-own-primary: #603b10;
}

p,
figure {
  margin: 0;
  padding: 0;
}

button,
input {
  border-width: 0;
  outline: none;
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}
