/* Registrarse e iniciar sesión. */

.session-buttons {
  margin: 1em 0.5em;
  flex-basis: 100%;
  gap: 0.5em;
  display: flex;
  min-width: fit-content;
  justify-content: space-around;

  /* 
  Si uno de los elementos crece en altura, los otros toman su tamaño.
   */
  align-items: stretch;
  /* transition: background-color 0.5s ease-out; */
  /* transition: background-color 10s ease-out; */
  /* 
  transition: name duration timing-function delay iteration-count direction fill-mode play-state ;

  transition: 3s ease-in 1s 2 reverse both paused slide-in;
  */
  /* transition: align-items 0.8s ease-out; */
  /* height: 100%; */
  font-weight: 600;
}

.session-buttons .circle-avatar,
.comment_details .circle-avatar {
  height: 2em;
}

.session-buttons :first-child {
  /* margin-right: 0.5em; */
}

.session-buttons > * {
  /* flex-basis: 40%; */
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;
  /* transition: flex 0.8s ease-out; */
  /* Transición para cuando la fuente cambia de tamaño. */
  transition: font-size 0.2s ease-out;
}

.btn-info:active {
  background-color: var(--color-info-darked);
  transition: background-color 10s ease-out;
}

/* -------------------------------------------------------------------------- */

.session-buttons__user-info {
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
a.session-buttons__user-info {
  text-decoration: none;
}
.session-buttons__user-info__username {
  font-size: .95em;
  /* padding: 0; */
  margin: 0;
  text-decoration: underline wavy;
  text-decoration-skip-ink: none;
  white-space: nowrap;
  overflow: hidden;
  max-width: 14ch;
  /* padding por el underline. */
  /* padding-bottom: 6px; */
  text-overflow: ellipsis;
  transition: color 75ms ease-in-out;
  /* overflow-x: hidden; */
  /* clip-path: ellipse(); */
  padding: 0 1px 6px;
}

.session-buttons__user-info__username:hover,
.session-buttons__user-info__username:active,
.session-buttons__user-info__username:focus,
.session-buttons__user-info__username:focus-within {
  color: var(--color-maximum-blue-purple);
}

/* -------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 900px) {
  .session-buttons {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .session-buttons {
    margin: 0;
    /* Ocupar espacio sobrante sin hacer más pequeños elementos. */
    flex-basis: auto;
    /* Ocupar espacio restante. */
    /* flex-grow: 1; */
    /* font-size: 1em; */
  }
  .session-buttons>* {
    flex-basis: auto;
  }  
  .session-buttons__user-info {
    /* max-width: 12ch; */
  }

}

@media (max-width: 360px) {
  .session-buttons__user-info {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .session-buttons {
    justify-content: center;
  }

}

@media (max-width: 576px) {
  .session-buttons {
    font-size: 1em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* .session-buttons {
    font-size: 0.8em;
  } */
}
