.movies-container {
  /* font-family: 'Roboto', sans-serif; */
}

.movies__row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5em; */
}

.movie-poster {
  display: flex;
  flex-direction: column;
  padding: .75em;
  font-family: 'Roboto', sans-serif;
  }

.movie-poster__title {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  text-align: center;
  font-weight: 600;
  padding-top: 0.5em;
}

.movie-poster__img {
  /* height: 100%; */
  max-height: 20em;
  aspect-ratio: 2 / 3;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  /* left:  0; */
  object-fit: contain;
  object-position: top;
  /* object-position: center 100%; */
  /* right: 0; */
}
