.movies-container,
.movies-container * {
  /* font-family: 'Noto Sans', sans-serif; */
  /* Que se pueda romper la línea para que no ocurra overflow con el heading. */
  /* line-break: strict; */
  overflow-wrap: break-word;
  /* white-space: pre-wrap; */
}

.movies-container__title,
.best-movies-container__title {
  margin: 0;
  padding: 0.5em;
  /* height: 3em; */
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------- BEST MOVIES ------------------------------ */

.best-movies-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}


.best-movies-container__title {
  font-size: 1em;
  margin: 1em 0;
  max-width: 20em;
  padding: 0.7em 0.5em;
  width: 100%;
  background-color: var(--color-primary-darked);
  border-radius: 0.5rem;
  color: white;
  text-align: center;
}

.best-movies-container .movie-poster {
  flex-direction: row;
}

.best-movies-container .movie-poster__year {
  bottom: 1.1em;
  right: 2.1em;
}

.best-movies__details-list {
  list-style: none;
  margin: 0;
  height: 100%;
  padding: 0;
  text-align: left;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1em;
  /* gap: 0.3em; */
}
.best-movies__details-list .movie-poster__title {
  text-align: left;
  padding: 0;
}

.best-movies__details-list li,
.best-movies__details-list li *
{
  /* font-size: 0.85rem; */
}
/* -------------------------------------------------------------------------- */

.movies__row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5em; */
}

.movie-poster {
  display: flex;
  flex-direction: column;
  padding: .75em;
  /* width: 100%; */
  font-size: .8em;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

.movie-poster * {
  /* font-size: .8em; */
}

.movie-poster__year-image {
  position: relative;
  font-size: .8em;
  height: min-content;
}

.movie-poster__img {
  display: flex;
  /* height: 100%; */
  border-radius: .9em;
  /* max-height: 10em; */
  aspect-ratio: 2 / 3;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  /* left:  0; */
  object-fit: cover;
  object-position: top;
  /* object-position: center 100%; */
  /* right: 0; */
}

.movie-poster__title {
  font-family: 'Noto Sans', sans-serif;
  /* font-size: 1em; */
  text-align: center;
  font-weight: 600;
  padding-top: 0.4em;
}

.movie-poster__year {
  color: white;
  position: absolute;
  bottom: 1.2em;
  right: 1.2em;
  padding: 0.05em 0.5em;
  /* width: min-content; */
  font-size: 1em;
  font-weight: 700;
  background-color: var(--color-primary);
  border-radius: 0.65rem;
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */

@media (max-width: 576px) {
  .best-movies-container__title {

  }
  .movie-poster__year {
    font-size: 1.2em;
  }
  .best-movies-container .movie-poster__year {
    bottom: .5em;
    right: 1.5em;
  }
  .best-movies__details-list .movie-poster__title {
    font-size: 1.7em;
  }

  .best-movies__details-list {
    gap: 1em;
    padding: 0;
    justify-content: flex-start;
  }

  .best-movies__details-list li
  /* .best-movies__details-list li *  */
  {
    font-size: 1.5em;
  }
}
