.comments__container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding-bottom: 1em;
}

/* .comments__container *:not(h2) {
  font-family: 'Noto Sans', sans-serif;
} */

/* ------------------------------- FORMULARIO ------------------------------- */

.comments__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  align-items: stretch;
  border-radius: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--color-maximum-blue-purple);
  justify-content: space-between;
}

.comments__form:focus-within {
  border-color: var(--color-purple);
}

.comments__form textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  padding: 0.5em;
  border-color: var(--color-lavender-blue);
}

.comments__form textarea.disabled {
  /* background-color: rgb(218, 218, 218); */
}

.comments__form textarea:focus-visible {
  border-color: var(--color-maximum-blue-purple);
  outline: var(--color-purple) solid 0px;
}

.comments__form,
.comments__posted {
  padding: 0.5em;
}

.comments__form,
.comments__form *,
.comments__posted,
.comments__posted * {
  transition: all 150ms ease-in;
}
.comments__form > textarea,
.comments__form .comments__form__btn,
/* .comments__form .comments__form__btn:disabled, */
.comments__posted {
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
}

/* --------------------------------- BOTONES -------------------------------- */

.comments__form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  gap: 1em;
}

.comments__details > a:focus-visible {
  outline: none;
}

.comments__container .circle-avatar.own-avatar {
  /* border-color: var(--color-mint); */
  outline: solid 2px var(--color-mint);
  /* box-shadow: 0px 0px 5px 1px var(--color-mint); */
  /* border: none; */
}
/* .comments__container .circle-avatar.own-avatar:hover,
.comments__container .circle-avatar.own-avatar:focus,
.comments__container .circle-avatar.own-avatar:focus-visible,
.comments__container .circle-avatar.own-avatar:focus-within {
  outline-color: var(--color-mint);
  cursor: none;
} */

.comments__details :not(span).circle-avatar {
  /* 
  No agregar más píxeles a la pantalla. Sobre todo evitamos problemas con el SVG
  de Font Awesome. 
  */
  outline: solid 2px var(--color-lavender-blue);
}

.comments__container svg.circle-avatar.profile-picture__circle {
  /* 
  Esto ya que, con el de Font Awesome, si está activo, al hacer hover y demás en
  los hijos, no se activa. 
  */
  /* pointer-events: none; */
}

.comments__details :not(own-avatar).circle-avatar:hover,
.comments__details :not(own-avatar).circle-avatar:focus,
.comments__details :not(own-avatar).circle-avatar:focus-visible,
.comments__details :not(own-avatar).circle-avatar:focus-within {
  outline-color: var(--color-purple);
  cursor: pointer;
}
.comments__container svg.circle-avatar.profile-picture__circle * {
  /* pointer-events: auto; */
}

.comments__form__btn {
  color: white;
  font-weight: 500;
  width: fit-content;
  border-color: var(--color-lavender-blue);
  background-color: var(--color-maximum-blue-purple);
}

.comments__form__btn:hover {
  border-color: var(--color-maximum-blue-purple);
  background-color: var(--color-lavender-blue);
  color: var(--color-purple);
}

/* .comments__form button {
  background-color: var(--color-info);
} */

/* ------------------------------- PUBLICADOS ------------------------------- */

.comments__posted {
  display: flex;
  flex-direction: column;
  /* border-radius: 8px; */
  border-color: var(--color-maximum-blue-purple);
  row-gap: 0.4em;
  flex-wrap: wrap;
  border-width: 3px;
}

.comments__posted,
.comments__posted *,
.comments__form * {
  font-family: "Noto Sans JP", sans-serif;
}

.comments__text {
  color: var(--color-pansy-purple);
  font-size: 0.8em;
}

.comments__details {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  column-gap: 1em;
  padding-bottom: 0.4em;
  border-bottom: solid 1px var(--color-lavender-blue);
  /* flex-basis: 100%; */
}

.comments__details a {
  display: flex;
}

.comments__details .circle-avatar,
.comments__form__buttons .circle-avatar {
  width: 2.5em;
  height: 2.5em;
}

.comments__details__info {
  /* max-height: 2.5em; */
  display: flex;
  overflow: hidden;
  flex: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* max-width: 100%; */
  justify-content: space-between;
  flex-direction: column;
}

.comments__details__info * {
  text-overflow: ellipsis;
  /* overflow: hidden; */
  overflow-x: clip;
  white-space: nowrap;
  /* overflow-y: visible; */
  /* height: auto; */
}

.comments__details__title {
  margin: 0;
  color: var(--color-copper-crayola);
  padding: 0;
  font-size: 1em;
  font-weight: 600;
}

.comments__details__time {
  font-size: 0.75em;
  align-items: center;
  display: flex;
  color: var(--color-maximum-blue-purple);
  font-weight: 500;
  gap: 0.5em;
}

.comments__details__time-ago {
}

.comments__interaction {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 0.8em;
  font-weight: 700;
  align-items: baseline;
  justify-content: space-between;
}

.comments__interaction,
.comments__interaction__button {
  color: var(--color-dark-purple);
}

.comments__interaction__button.selected {
  color: var(--color-crimson);
  font-weight: 600;
  /* padding: 0; */
  /* font-size: 1em; */
}

.comments__interaction__button {
  background-color: transparent;
  cursor: pointer;
  /* transition: none; */
  padding: 0;
  /* transition: font-size 5ms ease-out; */
  transition: color 5ms ease-in, font-size 0s ease-out;
}

.comments__interaction__button.disabled,
.comments__interaction__button.disabled:disabled,
.comments__interaction__button.disabled:active,
.comments__interaction__button.disabled:focus,
.comments__interaction__button.disabled:focus-within,
.comments__interaction__button.disabled:focus-visible,
.comments__interaction__button.disabled:enabled,
.comments__interaction__button.disabled:hover {
  background-color: transparent;
}

.comments__interaction__button:hover {
  color: var(--color-crimson);
}

/* -------------------------------------------------------------------------- */

.comments__interaction__info {
  display: flex;
  column-gap: 0.9em;
}

.comments__interaction__likes {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

/* -------------------------------------------------------------------------- */
@media (min-width: 576px) {
  .comments__posted,
  .comments__form {
    padding: 1em;
  }
}

@media (max-width: 465px) {
  .comments__details__hour {
    display: none;
  }
}
@media (max-width: 425px) {
  .comments__details__date {
    display: none;
  }
}
@media (max-width: 320px) {
  .comments__interaction {
    justify-content: flex-end;
  }
  .comments__form__buttons {
    justify-content: center;
  }
}
