.movie-details__poster {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
}

.movie-details__form__buttons {
  display: flex;
  flex-direction: column;
}

.movie-details__container {
  display: flex;
  flex-direction: row;
  padding: 1em 1em;
  /* flex-basis: 100%; */
}

.movie-details__container * {
  /* font-family: 'Noto Sans', sans-serif; */
}

.movie-details {
  display: flex;
  gap: 0.8em;
  flex-wrap: wrap;
  flex-direction: column;
}

.movie-details__img {
  /* aspect-ratio: 2 / 3; */
  /* border-radius: 18.3px; */
  display: flex;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.movie-details__info {
  display: flex;
  justify-content: flex-start;
  gap: 0.3em;
  flex-wrap: wrap;
  align-items: self-start;
  position: relative;
  /* max-width: 60%; */
}

.movie-details__info > * {
  background-color: var(--color-pansy-purple);
  color: white;
  font-weight: 400;
  padding: 0 0.3em;
  text-align: center;
  border-radius: 0.2em;
}

/* -------------------------------------------------------------------------- */

.movie-details__age-rating {
  display: flex;
  /* line-height: 2em; */
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4em;
  flex-wrap: wrap;
  text-align: left;
}

.movie-details__age-rating > h3 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: inherit;
  font-weight: 700;
}
.movie-details__age-rating > p {
  overflow: hidden;
  width: auto;
  /* line-break: anywhere; */
  word-break: break-word;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------- */

.movie-details__synopsis {
  overflow-y: auto;
  max-height: 8em;
  text-align: left;
  height: auto;
}
.movie-details__title {
  line-break: loose;
}

.movie-details__cast {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
}

.movie-details__cast__type {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: solid 1px var(--color-maximum-blue-purple);
}

.movie-details__cast__type__title {
  flex: 1;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.movie-details__cast__type ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  flex: 3;
  justify-content: flex-start;
  /* gap: 1em; */
  column-gap: 1em;
}

.movie-details__cast__member {
  font-size: 0.9em;
}

/* Agregar un punto y coma después de cada elemento. */
.movie-details__cast__member::after {
  content: ";";
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- ESTRELLAS ------------------------------- */

.movie-details__stars-container * {
  gap: 0.3em;
}

.movie-details__stars-container p {
  /* font-weight: 600; */
}
.movie-details__stars-container data {
  /* font-weight: 600; */
  color: var(--color-crimson);
}
.movie-details__stars-container footer {
  font-weight: 900;
  font-size: .9em;
}

.movie-details__stars-container {
  display: flex;
  flex-direction: column;
}

.movie-details__stars-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-details__stars__every-user-average,
.movie-details__user-stars {
  display: flex;
  flex-direction: row;
}

/* -------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .movie-details__cast__type {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .movie-details__info {
    justify-content: center;
  }

  .fill-height-flex {
    gap: 1em;
  }
  .movie-details__img.movie__no-poster {
    aspect-ratio: 16/9;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .movie-details__container .movie-details__form__buttons {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .movie-details__form__buttons .btn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
