/* 
Registrarse e iniciar sesión.
*/

.login-buttons {
  margin: 1em 0.5em;
  flex-basis: 100%;
  gap: 0.5em;
  display: flex;
  min-width: fit-content;
  justify-content: space-around;

  /* 
  Si uno de los elementos crece en altura, los otros toman su tamaño.
   */
  align-items: stretch;
  /* transition: background-color 0.5s ease-out; */
  /* transition: background-color 10s ease-out; */
  
  /* 
  transition: name duration timing-function delay iteration-count direction fill-mode play-state ;

  transition: 3s ease-in 1s 2 reverse both paused slide-in;
  */
  /* transition: align-items 0.8s ease-out; */
  /* height: 100%; */
  font-weight: 600;
}

.login-buttons :first-child {
  /* margin-right: 0.5em; */
}

.login-buttons > * {
  flex-basis: 40%;
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;
  /* transition: flex 0.8s ease-out; */
  /* Transición para cuando la fuente cambia de tamaño. */
  transition: font-size 0.2s ease-out;
}

.btn-info:active {
  background-color: var(--color-info-darked);
  transition: background-color 10s ease-out;
}

@media (min-width: 768px) and (max-width: 900px) {
  .login-buttons {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .login-buttons {
    margin: 0;
    /* Ocupar espacio sobrante sin hacer más pequeños elementos. */
    flex-basis: auto;
    /* Ocupar espacio restante. */
    /* flex-grow: 1; */
    justify-content: space-between;
    /* font-size: 1em; */
  }
  .login-buttons>* {
    flex-basis: auto;
  }
}

@media (max-width: 576px) {
  .login-buttons {
    font-size: 1em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* .login-buttons {
    font-size: 0.8em;
  } */
}
