*,
*::before,
*::after {
  font-family: "Quicksand", sans-serif;
  /* Para fuente en móvil. */
  /* font-size: 14px; */
  line-height: 1.5;
  /* Transición para las fuentes cuando cambian de tamaño. */
  transition: font-size 50ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

:root {
  /* --color-own-primary: #603b10; */
  /*
  Colores generados en coolors.co: 
  https://coolors.co/e3d7ff-afa2ff-f8f9fa-0d6efd-17a2b8-c97c5d-0c0f0a-d7263d-870058-23022e 
  */
  --color-dark-purple: #23022e;
  --color-lavender-blue: #e3d7ff;
  --color-maximum-blue-purple: #afa2ff;
  /* --color-cultured: #F8F9FA; */
  /* --color-blue-crayola: #0D6EFD; */
  /* --color-pacific-blue: #17a2b8; */
  --color-copper-crayola: #c97c5d;
  --color-rich-black-fogra-39: #0c0f0a;
  --color-purple: #555bff;
  --color-mint: #22d2a0;
  --color-crimson: #d7263d;
  --color-pansy-purple: #870058;
}

p,
figure {
  margin: 0;
  padding: 0;
}

button,
input {
  border-width: 0;
  outline: none;
}

html {
  height: 100%;
  /* overflow: auto; */
}

body {
  min-height: 100%;
  /* overflow: auto; */
  /* background-color: #F1E0F5; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* height: 100%; */
}

/* body :is(h1, h2, h3, h4, h5, h6),
body :is(.h1, .h2, .h3, .h4, .h5, .h6) {
  margin: 0;
  padding: 0;
} */

.body-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fill-height-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  padding: 1em 1em;
}

.btn {
  /* flex-basis: 40%; */
  font-weight: 600;
  font-family: "Quicksand", sans-serif;

  /* align-items: center;
  display: flex;
  justify-content: center;
  /* transition: flex 0.8s ease-out; */
  /* transition: font-size 0.2s ease-out; */
}

.btn-fit-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.vertical-line {
  height: 1em;
  width: 1px;
  /* display: inline-flex; */
  background-color: var(--color-lavender-blue);
  /* align-content: stretch; */
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
}

.pretty-shadow {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

/* Esto se ve muy mal, pero bueno. */
.disabled:focus,
input.disabled:focus,
a.disabled:focus,
button.disabled:focus,
.disabled:focus-within,
input.disabled:focus-within,
a.disabled:focus-within,
button.disabled:focus-within,
.disabled:focus-visible,
input.disabled:focus-visible,
a.disabled:focus-visible,
button.disabled:focus-visible,
.disabled:active,
input.disabled:active,
a.disabled:active,
button.disabled:active,
.disabled:disabled,
input.disabled:disabled,
a.disabled:disabled,
button.disabled:disabled,
.disabled:hover,
input.disabled:hover,
a.disabled:hover,
button.disabled:hover,
.disabled,
input.disabled,
a.disabled,
button.disabled,
input.disabled,
a.disabled,
button.disabled {
  background-color: lightgray;
  color: darkgray;
}

@media (min-width: 768px) {
  /* * {
    font-size: 16px;
  } */
}
