.movies-container {
  /* font-family: 'Roboto', sans-serif; */
}

.movies__row {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5em; */
}

.movie-poster {
  display: flex;
  flex-direction: column;
  padding: .75em;
  font-size: .8em;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

.movie-poster * {
  /* font-size: .8em; */
}

.movie-poster__year-image {
  position: relative;
  font-size: .8em;
  height: min-content;
}

.movie-poster__img {
  display: flex;
  /* height: 100%; */
  border-radius: .9em;
  /* max-height: 10em; */
  aspect-ratio: 2 / 3;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  /* left:  0; */
  object-fit: cover;
  object-position: top;
  /* object-position: center 100%; */
  /* right: 0; */
}

.movie-poster__title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9em;
  text-align: center;
  font-weight: 600;
  padding-top: 0.4em;
}

.movie-poster__year {
  color: white;
  position: absolute;
  bottom: 1.2em;
  right: 1.2em;
  padding: 0.05em 0.5em;
  width: min-content;
  font-size: 0.9em;
  font-weight: 700;
  background-color: var(--color-primary);
  border-radius: 0.65rem;
}
