.profile-details {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.profile-details__title {
  text-align: center;
}

.profile-details__username {
  /* text-align: center; */
}

.profile-details__figure {
  flex-direction: row;
  column-gap: 0;
  align-items: stretch;
}

.profile-details__figcaption {
  display: flex;
  padding: 1.2em 1em;
  /* align-self: flex-start; */
  flex-direction: column;
  /* flex: 1; */
  width: 100%;
  row-gap: 2em;
  /* align-items: stretch; */
  /* justify-content: space-between; */
}
.profile-details__figcaption__header {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .profile-details__figcaption,
  .profile-details,
  .profile-details__figcaption__header {
    align-items: center;
    text-align: center;
  }
  .profile-details__figcaption {
    row-gap: 1em;
  }
}
