*,
*::before,
*::after {
  font-family: 'Quicksand', sans-serif;
  /* Para fuente en móvil. */
  /* font-size: 14px; */
  line-height: 1.5;
  /* Transición para las fuentes cuando cambian de tamaño. */
  transition: font-size 0.2s ease-out;
}

:root {
  /* --color-own-primary: #603b10; */
  /*
  Colores generados en coolors.co: 
  https://coolors.co/e3d7ff-afa2ff-f8f9fa-0d6efd-17a2b8-c97c5d-0c0f0a-d7263d-870058-23022e 
  */
  --color-dark-purple: #23022E;
  --color-lavender-blue: #e3d7ff;
  --color-maximum-blue-purple: #AFA2FF;
  --color-cultured: #F8F9FA;
  --color-blue-crayola: #0D6EFD;
  --color-pacific-blue: #17a2b8;
  --color-copper-crayola: #c97c5d;
  --color-rich-black-fogra-39: #0c0f0a;
  --color-crimson: #d7263d;
  --color-pansy-purple: #870058;
}

p,
figure {
  margin: 0;
  padding: 0;
}

button,
input {
  border-width: 0;
  outline: none;
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}
