/** 
Todo el diseño se piensa para mobile-first. En las Media Queries están los estilos para las pantallas más grandes. 
*/

.logo {
  height: 1.5em;
  width: auto;
}

/* ---------------------------- BARRA DE BÚSQUEDA --------------------------- */

/* Contenedor de búsqueda. */
.search-container {
  display: flex;
  /* Para la versión móvil. */
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */

@media (min-width: 768px) {
  .logo {
    height: 2em;
  }
  .search-container {
    display: inline-flex;
    flex-basis: auto;
  }
}
