.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-collapse {
  padding-top: 1em;
  max-width: 100%;
  flex-grow: 1;
}

.logo {
  height: 2em;
  width: auto;
  transition: height 0.3s ease-out;
}

/* Página actual en el navbar. */
.navbar__current-page {
  font-weight: 800;
  color: var(--color-primary-darked);
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  gap: .5em;
  align-items: center;
  justify-content: flex-start;
}

.navbar__current-page .navbar__current-movie__icon,
.navbar__current-movie__icon {
  font-size: .7em;
}

.navbar__current-movie__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}

/* 
Que en el navbar no se muestre el nombre de la película, sino, la leyenda
"Detalles". 
*/
.navbar__current-movie__legend {
  display: none;
}

@media (min-width: 768px) and (max-width: 900px) {
  .navbar,
  .navbar * {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    /* font-size: 1.2rem; */
  }
  .navbar,
  .navbar * {
    /* font-size: .9rem; */
  }
  .navbar-collapse {
    padding-top: 0;
  }

  .navbar-nav {
    justify-content: stretch;
    font-weight: 500;
  }

  .search-container {
    flex-grow: 1;
  }
  .navbar__current-movie__legend {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .navbar__current-movie__name {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .logo {
    height: 1.6em;
  }
}
