.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-collapse {
  padding-top: 1em;
  flex-grow: 1;
}

.logo {
  height: 2em;
  width: auto;
  transition: height 0.3s ease-out;
}

/* Página actual en el navbar. */
.navbar__current-page {
  font-weight: 800;
  color: var(--color-primary-darked);
  text-decoration: underline;
}
@media (min-width: 768px) and (max-width: 900px) {
  .navbar,
  .navbar * {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    /* font-size: 1.2rem; */
  }
  .navbar,
  .navbar * {
    /* font-size: .9rem; */
  }
  .navbar-collapse {
    padding-top: 0;
  }

  .navbar-nav {
    justify-content: stretch;
    font-weight: 500;
  }

  .search-container {
    flex-grow: 1;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 1.6em;
  }
}
