.form__container {
  display: flex;
  /* flex-basis: 100%; */
  /* flex: 1; */
  width: 100%;
  align-self: center;
  flex-direction: column;
  gap: .6em;
}

.form__container label {
  font-weight: 600;
}

.form__input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  padding: .5em;
  border-radius: .3em;
  border: solid 1px var(--color-lavender-blue);
  box-sizing: border-box;
}

.form__input__container,
.form__input__container input {
  background-color: white;
}

.form__input__container:focus-within {
  outline: solid 2px var(--color-dark-purple);

}

.form__input__container input {
  width: 100%;
}

/* Que el ícono y el password estén al mismo nivel. */
input:not([type="text"]) ~ .form__input__icon {
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */

.form__button {
  font-weight: 600;
  color: white;
  background-color: var(--color-pansy-purple);
  /* border-radius: .3em; */
}

.form__input__picture {
  text-align: center;
  /* flex-grow: inherit; */
  /* width: min-content; */
  font-size: 1.5em;
  font-family: "Noto Sans", sans-serif;
  padding: 0.3em;
  /* color: white; */
  border-radius: 0.2em;
}
input[type="file"].form__input__picture {
  background-color: var(--color-pansy-purple);
  color: white;
  max-width: 100%;
  width: 100%;
  font-size: 0.8em;
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  white-space: break-spaces;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* cursor: pointer; */
}

input[type="file"]#file-upload-button.form__input__picture {
  cursor: pointer;
}

.form__buttons {
  display: flex;
  justify-content: right;
  gap: 1em;
}

.form__text-input {
  width: 100%;
  resize: none;
  overflow: auto;
  padding: .4em;
  border: solid 1px var(--color-pansy-purple);
  border-radius: .5em;
  min-height: 5em;
  background-color: var(--color-light);
}

.form__button[title="Guardar cambios"] {
  background-color: var(--color-success);
}
.form__button[title="Cancelar"] {
  background-color: var(--color-danger);
}

@media (max-width: 768px) {
  .form__buttons {
    justify-content: center;
  }
}
