.profile-details {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.profile-details__title {
  text-align: center;
}

.profile-details__name {
  margin: 0;
}

.profile-details__figure {
  flex-direction: row;
  column-gap: 0;
  align-items: stretch;
}

.profile-details__figcaption {
  display: flex;
  padding: 1.2em 1em;
  /* align-self: flex-start; */
  flex-direction: column;
  /* flex: 1; */
  width: 100%;
  row-gap: 0.5em;
  align-items: stretch;
  /* justify-content: space-between; */
}
.profile-details__figcaption__header {
  display: flex;
  row-gap: 0.6em;
  flex-direction: column;
}

.profile-details__username {
  font-weight: 400;
}

.profile-details__img {
  /* order: 1; */
}

.profile-details__figcaption__header {
  order: 1;
}
.profile-details__buttons {
  display: flex;
  order: 2;
  gap: 0.5em;
}

.profile-details__buttons * {
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 576px) {
  .profile-details__figcaption__header {
    order: 2;
  }
  .profile-details__buttons {
    order: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 100%;
  }

  .profile-details__figcaption,
  .profile-details__figcaption__header,
  .profile-details {
    /* align-items: center; */
    text-align: center;
  }
  .profile-details__figcaption {
    row-gap: 1em;
    align-items: stretch;
    justify-content: space-between;
  }
}
